<!DOCTYPE html>
<html lang="en">
  <%- include('fragmentos/head'); %>
  <style>
    @media (min-width: 992px) {
      .alto-100 {
        height: 100vh;
      }
    }
  </style>
  <script>
    function cargar(id,nombre,precio,descripcion) {
      document.getElementById("_id").value = _id;
      document.getElementById("idnombre").value = nombre;
      document.getElementById("idprecio").value = precio;
      // document.getElementById("iddescripcion").textContent = descripcion;
      document.getElementById("iddescripcion").value =descripcion;
    };
  </script>
  <body
    style="background: linear-gradient(90deg, rgb(14, 0, 3), rgb(51, 18, 10))"
  >
  <% if (!user ){ %>
    <%- include('fragmentos/navbar'); %>
 
    <div class="card" style="margin-top: 15%;"> <h4>No tienes permitido ingresar a esta dirección <a href="/registrarse">Regístrate</a></h4></div>
    <% } else if (user.rol == 1) { %>
      <div class="card" style="margin-top: 15%;"> <h4>No tienes permitido ingresar a esta dirección</h4></div>
      <% } else if (user.rol == 2||user.rol == 3) { %>  
         
    <!--
    <%- include('fragmentos/navbar'); %>
    -->
    <% if (success_msg.length >0 ){ %>
      <div class="alert alert-succes alert-dismissible fade show " role="alert">
        <div class="container mx-auto" style="position: absolute;text-align: center;">  
          <div class="container " style="position: absolute;margin-top: 5%; text-align: center;"> <p class="alert alert-danger text-center ">
            <span aria-hidden="true">&times;</span>
            <%= success_msg %></p> </div> </div>  
        
      </div>
      
       <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
       </button>
      
      
      <% } %> 
    <div class="wcontainer"></div>
    <main class="container d-flex align-items-center justify-content-center">
      <div class="row border rounded">
        <div class="col-12 col-lg-6">
          <div class="card">
            <div></div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    
                    <div class="col-12 col-sm-6 col-md-6">
                      <h5>Nuevo Platillo <i class="fa fa-cutlery" aria-hidden="true"></i>
                      </h4>
                      
                    </div>
                  </div>
                </div>
                <form id="formulario0" action="/upload" method="post" enctype="multipart/form-data">
                  <div class="input-group ">
                      <div class=" ">
                          <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                          <label class="  btn" style="background-color: black;" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"><i class="fa fa-file-image-o" aria-hidden="true"></i>
                            Elegir Imagen</label>
                      </div>
                  </div>
                 
                  <div class="form-group col-12 col-sm-6 col-md-6 mx-auto ml-auto">
                      <button class="btn btn-success btn-block"
                      onclick= "document.formulario1.action ='/administrar'; 
                          document.formulario0.submit()" 
                      >
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        Subir Imagen
                      </button>
                  </div>
              </form>
              <div class="col-12 col-sm-6 col-md-6 mx-auto">
                <% if(typeof imagenCap == 'undefined'){ %>
                  <img
                  src="../assets/img/face.jpg"
                  class="img-thumbnail"
                  alt="imagen"
                />
                <% }else{ %> 
                  <img
                  src="<%=('../uploads/'+imagenCap)%>"
                  class="img-thumbnail"
                  alt="imagen"
                />
                <% } %> 
                
              </div>
                <form  id="formulario1" class="form mx-auto" action="" method="post">
                  <input id="id" type="text" name="id" class="form-control" value="" style="display:none;">
                  <div class="form-group"><input id="idnombre" type="text" name="nombre"  placeholder="Nombre del Platillo" class="form-control" value="<%=nombre%>" required></div>
                 <div class="form-group">
                  <input id="idprecio" type="text" name="precio"  placeholder="Precio" class="form-control" value="<%=precio%>" required>
                 </div>
                  <div class="form-group">
                      <textarea id="iddescripcion" name="descripcion" placeholder="Descripción" class="form-control" required><%=descripcion%></textarea>
                  </div>
                  

                  <div class="togglebutton">
                    <label >
                      <input type="checkbox" checked>
                      <span class="toggle">
                       
                      </span>
                      Estado del platillo
                    </label>
                  </div>


                  <div class="col-12 mt-2">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-3 col-lg-6 mx-auto">
                        <button
                                                  
                          class="btn btn-success"
                          onclick= "document.formulario1.action ='/administrar'; 
                          document.formulario1.submit()"  

                        >
                          <div class="mx-auto">Nuevo <i class="fa fa-plus-square" aria-hidden="true"></i>
                          </div>
                        </button>
                      </div>
                      
                    </form>
                      <div
                        class="col-12 col-sm-6 col-md-3 col-lg-6 mx-auto d-flex"
                      >
                     
                      </div>
                      
                      
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="row h-100">
                <div class="col-12 col-sm-9 col-md-9 p-1" style="height: 35px">
                  <div class="input-group input-group-sm m-0">
                    <div class="row mx-0 w-100">
                      <span
                        class="col-3 input-group-text"
                        id="inputGroup-sizing-sm"
                        >Buscar:</span
                      >
                      <div class="col-9 px-auto">
                        <form action="/administrar?_method=DELETE" method="POST">
                          <input
                          type="text"
                          class="form-control"
                          aria-label="Nombre"
                          aria-describedby="basic-addon1"
                          name="buscar"
                          onchange="form.submit();"
                          value="<%=buscar%> "
                        /> 
                        </form>
                        <!-- <input type="button" class="form-control" value="Pinchame y verás"  /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 d-flex" style="height: 35px">
                  <span class="custom-dropdown">
                    <select>
                      <option>Nombre</option>
                      <option>Precio</option>
                    </select>
                  </span>
                </div>
                <!-- <div class="col-12">
                  <span class="input-group-text"
                    >Tabla Platillos</span
                  >
                </div> -->
                <div class="col-12 pb-4">
                  <div class="card p-auto">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 overflow-auto" style="height: 300px;">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Calificacion</th>
                                <th scope="col">Editar</th>
                              </tr>
                            </thead>
              
                            <tbody>
                              <% for(var i = 0; i < platillos.length; i++) { %>
                                <tr>
                                <th scope="row"><%=(i+1)%></th>
                                <td><%= platillos[i].nombre %></td>
                                <td><%= platillos[i].precio %></td>
                                <td><%= platillos[i].calificacion %></td>
                                <td>
                                  <a href="/administrar/edit/<%= platillos[i]._id %>" >MODIFICAR</a>
                                  
                                </td>
                              </tr>
                              <% } %>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% } %>   
  </body>
</html>
