<!DOCTYPE html>
<html lang="en">
<%- include('fragmentos/head'); %>

  <body class=" bg-dark text-white" style="background: linear-gradient(90deg, rgb(14, 0, 3), rgb(51, 18, 10));">
    <%- include('fragmentos/navbar'); %>
      <% if (!user ){ %>
        <div class="card" style="margin-top: 12%;">
          <h4>No tienes permitido ingresar a esta dirección <a href="/registrarse">Regístrate</a></h4>
        </div>
        <% } else if (user.rol==1) { %>
          <div class="card" style="margin-top: 15%;">
            <h4>No tienes permitido ingresar a esta dirección</h4>
          </div>
          <% } else if (user.rol==2||user.rol==3) { %>
            <div class="container col-md-6" style="margin-top: 6%;">
              <div class="card card-body text-dark mx-auto" style="position: absolute; margin-top: 6%;">
                <div class="col-md-6">
                  <h5>Actualizar Platillo <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </h4>
                </div>
                <form action="/uploadEdit " method="post" enctype="multipart/form-data">
                  <div class="input-group ">
                    <div class=" ">
                      <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                      <label class="btn btn-primary" style="background-color: black;" for="inputGroupFile02"
                        aria-describedby="inputGroupFileAddon02"><i class="fa fa-file-image-o" aria-hidden="true"></i>
                        Elegir Imagen</label>
                    </div>
                  </div>
                </form>
                <div class="col-12 col-sm-6 col-md-6 mx-auto">

                  <% if(typeof imagenCap=='undefined' ){ %>
                    <img src="<%=platillo.url%>" class="img-thumbnail" alt="imagen" />
                    <% }else{ %>
                      <img src="<%=platillo.url%>" class="img-thumbnail" alt="imagen" />
                      <% } %>




                </div>
                <form id="formulario2" class="form mx-auto" action="/administrar/edit/<%=platillo.id%>?_method=PUT"
                  method="post">
                  <input type="hidden" name="_method" value="PUT">
                  <div class="form-group"><input id="idnombre" type="text" name="nombre"
                      placeholder="Nombre del Platillo" class="form-control" value="<%=platillo.nombre%>" required>
                  </div>
                  <div class="form-group">
                    <input id="idprecio" type="text" name="precio" placeholder="Precio" class="form-control"
                      value="<%=platillo.precio%>" required>
                  </div>
                  <div class="form-group">
                    <textarea id="iddescripcion" name="descripcion" placeholder="Descripción" class="form-control"
                      required><%=platillo.descripcion%></textarea>
                  </div>


                  <div class="togglebutton"  >
                    <label>
                      <% if(platillo.estado==true ){%>
                      <input type="checkbox" name="e" id="e" checked  >
                      <% } else {%> 
                      <input type="checkbox" name="e"  id="e" >
                      <% }%> 
                      <span class="toggle">

                      </span>
                      Estado del platillo
                    </label>
                  </div>


                  <div class="col-12 mt-2">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-3 col-lg-6 mx-auto">
                        <button id="guardar" class="btn btn-success " onclick="formulario2.submit()">
                          <div class="mx-auto"><i class="fa fa-pencil" aria-hidden="true"></i>
                            Guardar</div>
                        </button>
                      </div>
                    </div>
                  </div> 
                </form>
              </div>
            </div>
            <% } %>
  </body>

</html>